@use './styles/variables' as *;

body {
  font-family: 'Poppins', sans-serif;
  color: variables.$text-color;  // só o nome da variável aqui
}

h1, h2, h3, .monarque {
  font-family: 'Monarque', serif;
}
